@mixin input-element($factor: 1) {
  font-size: $font-size * $factor;
  line-height: $line-height * $factor;
  padding: 0.1em 0.7em;
}

input[type=text] {
  @include input-element();

  background-color: white;
  border-radius: 5px;
  border: none;
  border-color: $primary;
  box-shadow: inset 0 0 0 1px $light-graphite;
  color: inherit;
  resize: none;
  width: 100%;
  height: 3em;
}

.checkbox {
  width: initial;
}

input:focus, textarea:focus {
  box-shadow: 0 0 2px 1px $light-blue;
  outline: none;
}

.form-group {
  margin-bottom: $line-height;
}

.button {
  @include input-element();
  @include transition(background-color 75ms ease-in-out);

  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  width: 100%;
  height: 3em;
  line-height: 3em;

  &:focus {
    outline: none;
  }

  &--primary {
    background: $primary;

    &:hover {
      background: darken($primary, 5%);
      cursor: hand;
    }
  }

  &--secondary {
    background: $secondary;

    &:hover {
      background: darken($secondary, 5%);
      cursor: hand;
    }
  }
}

a.button:hover {
  text-decoration: none;
}

.form-group {
  padding: 10px 0px;
}

.form-block {
  margin-bottom: 15px;
}
